[Desktop Entry]
Version=1.0
Name=FLSDK 0.0.3
Comment=FLSDK - Software Development Kit
Type=Application
Exec=/usr/bin/flsdk
Terminal=true
Categories=Application;Development
Keywords=Scientific;Hamradio;Radio;Signal;FLDIGI,NBEMS
Icon=flsdk
